<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>
      <div class="description-about">
        <p>The Lighthouse kitchen is always a culinary adventure.  It may be a yeasty hefe, fresh pasta, or homemade peanut butter.  Whatever it is, we love to share.  If you see something you like just order it and we'll bring it to you as soon as we can.</p>

        <p>This app was heavily adaped from an awesome team at <a href="http://percolatestudio.com" target="_blank" class="js-open">Percolate Studio</a> as an example of a cross platform mobile app built in <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>. View the original source on <a href="https://github.com/meteor/meteor/tree/devel/examples/localmarket" target="_blank" class="js-open">GitHub</a>.</p>
      </div>

    </div>
    <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">More about Meteor</a>
  </div>
</template>