<template name="home">
  <div class="page home">
    <div class="content-scrollable">
    {{>nav title='Lighthouse Kitchen' black=true}}

      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-local.svg" alt="Lighthouse Market"/>
        </h1>
        <span class="hours"><span class="title-callout">Hours</span>
        Mon–Fri 5-8pm, Sat 10-5pm</span>
        <span class="arrow"></span>
      </div>

    {{#if currentUser}}
    {{else}}
      <div id="loginArea" class="btn-primary">
        {{> loginButtons align="center" class="btn-primary" }}
      </div>
    {{/if}}


      <div class="callout-news">
        <span class="title-callout">News</span>
        {{latestNews.text}}
      </div>

      <h2 class="list-title">What's Happening</h2>
      <div class="list-subtitle">See what the community is doing</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No one is sharing yet!</div>
            <div class="subtitle-message">Share that you had a recipe and it will show up here.</div>
          </div>
        {{/each}}
      </div>

      {{#if currentUser}}
      <a href="{{pathFor 'suggestions'}}" class="btn-primary">Give us suggestions</a>
      {{/if}}

      <div class="callout-news">
          <span class="title-callout">Next Task</span>
          <span> {{nextTask.text}} </span>
      </div>


      <a href="{{pathFor 'feed'}}" class="btn-primary">See what's cooking</a>

      <h2 class="list-title">Our Favorite Recipes</h2>
      <div class="list-subtitle">Randomness from our chefs</div>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">Explore all our recipes</a>
    </div>

  </div>
</template>
