<template name="suggestions">
  <div class="page suggestions">

    {{>nav title="Suggest Items"}}

    <div class="content-scrollable">
      <div class="list-activities {{#unless ready}}loading{{/unless}}">
        {{#if ready}}
          <a href="{{pathFor 'suggestions'}}" class="btn-primary">Tasks</a>
            <form class="new-task"> 
             <input type="text" name="text" placeholder="Suggest Item"/>
            </form>
            <table>
              <thead>
                <tr>
                  <td width="10%"> </td>
                  <td class="delete-col" width="10%"> </td>
                  <td class="up-col" width="14%"> </td>
                  <td class="list-item" width="60%"> Task </td>
                  <td class="list-votes" width="15%" align="center"> Votes </td>
                </tr>
              </thead>
              <tbody>    
              {{#each openTasks}}
                {{> taskBlock}}
              {{/each}}
              </tbody>
            </table>

          {{> reactiveTable collection=taskList settings=settings}}

          {{> reactiveTable collection=openTasks settings=settings}}

          <a href="" class="btn-primary">Beer</a>
            <form class="new-task"> 
             <input type="text" name="text" placeholder="Suggest Item"/>
            </form>   

          <a href="" class="btn-primary">Cookies</a>
            <form class="new-task"> 
             <input type="text" name="text" placeholder="Suggest Item"/>
            </form>  

          <a href="" class="btn-primary">Pasta</a>
            <form class="new-task"> 
             <input type="text" name="text" placeholder="Suggest Item"/>
            </form>    


        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="taskBlock">
  <tr class="list-block">
    <td> </td>
    <td> <i class="fa fa-trash-o delete"></i> </td>
    <td> <i class="fa fa-thumbs-up upvote"></i> </td>
    <td>{{text}}</td>
    <td class="list-votes" align="center">{{votes}}</td>
  </tr>
</template>