<template name="suggestions">
  <div class="page suggestions">
    <div class="content-scrollable-not">

    {{>nav title="Suggest Items" back=true}}

    <div class="content-scrollable">
      <div class="list-activities {{#unless ready}}loading{{/unless}}">
        {{#if ready}}
            {{> nav title="Task Suggestions"}}
          <a href="{{pathFor 'suggestions'}}" class="btn-primary">Tasks</a>
            <form class="new-task"> 
             <input type="text" name="text" placeholder="Suggest Item"/>
            </form>
            
            {{> reactiveTable collection=openTasks settings=settings}}

            {{#each openTasks}}
              {{> taskBlock}}
            {{/each}}

          <a href="" class="btn-primary">Beer</a>
            <form class="new-task"> 
             <input type="text" name="text" placeholder="Suggest Item"/>
            </form>   

          <a href="" class="btn-primary">Cookies</a>
            <form class="new-task"> 
             <input type="text" name="text" placeholder="Suggest Item"/>
            </form>  

          <a href="" class="btn-primary">Pasta</a>
            <form class="new-task"> 
             <input type="text" name="text" placeholder="Suggest Item"/>
            </form>    


        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  </div>
</template>

<template name="taskList">
  <tr class="list-block">
    <td> </td>
    <td> <i class="fa fa-trash-o delete"></i> </td>
    <td> <i class="fa fa-thumbs-up upvote"></i> </td>
    <td>{{text}}</td>
    <td class="list-votes" align="center">{{votes}}</td>
  </tr>
</template>

<template name="taskBlock">
<p> taskBlock render</p>
  <a class="item-task">
    <span class="attribution-task">
      <span class="title-task">{{text}}</span>
      <span class="metadata-task">
        <span class="author-task">{{username}}</span>
        <span class="bookmarks-task">
          <span class="icon-bookmark"></span>
          {{votes}}
        </span>
        <i class="fa fa-trash-o delete"></i>
        <i class="fa fa-thumbs-up upvote"></i>
      </span>
    </span>
  </a>
</template>